ul {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  font: 1rem 'Arial', sans-serif;
}

.form {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
}

.task-list {
  list-style: none;
}

.task-list__item {
  max-width: 200px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
}

.form__label {
  display: block;
}

.form__group {
  padding-bottom: 20px;
}

.element_hidden {
  display: none;
}

.task__buttons {
  margin-top: 10px;
}

.button_ok {
  margin-top: 10px;
}

.notification {
  position: fixed;
  bottom: 10%;
  left: 30%;
  padding: 10px;
  color: red;
  background: rgb(173, 171, 171);
  border: 1px solid black;
  border-radius: 5px;
  font: bold 1.2rem 'Arial';
  z-index: 99;
}

.notification_hidden {
  display: none;
}
